
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fitness</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/jqueryui")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
             
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>


    <div class="container body-content">
        <div class="row" style="margin-top: 10px;">
            @Html.Partial("Visitors")

            @RenderBody()

            @Html.Partial("Friendlist")

        </div>
        <div class="row" style="margin-top: 15px;">
            <div id="Singlar" class="col-md-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading text-info">@Logik.Languages.Resources.Singles</div>
                        <div class="panel-body">@{Html.RenderAction("Singlar", "Home");}</div>
                    </div>                   
                    </div>
                </div>
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Athletic Singles</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>