@model IEnumerable<Logik.UserAndProfiles>

<div id="Huvudfonster" class="col-md-8" style="margin-bottom: 10px; ">
    <h2>Friend Request</h2>
    <table class="table">
      

        @foreach (var item in Model)
        {
            var base64 = Convert.ToBase64String(item.Profile.Picture);
            var img = String.Format("data:image/gif;base64,{0}", base64);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td style="display: inline-block; padding-right: 10px;">
                    <a href="@Url.Action("GetProfile", "Home", new { id = item.Profile.Id.ToString() }, null)"> <img src="@Url.Content(img)" width="50" height="50" alt="Picture" class="img-thumbnail" /></a>
                </td>
                <td style="display: inline-block">
                    @Html.ActionLink("Confirm", "ConfirmFriend", new { id = item.Profile.Id }) |
                    @Html.ActionLink("Decline", "DeclineFriend", new { id = item.Profile.Id }) 
                </td>
            </tr>
        }
    </table>
</div>